@import 'variables';
@import 'fonts';
@import 'mixin';
@import 'navbar';
@import 'hero';
@import 'footer';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    
}




